In [2]:
#--------------------------------------------------------------------------------------
# 집계함수 => 평균, 표준편차, 최대값, 최소값, 중앙값, 최빈값, 상관계수
#--------------------------------------------------------------------------------------
import pandas as pd

In [3]:
FILE='../dataFiles\\dataFiles\\auto-mpg.csv'

In [4]:
# 데이터 준비===========================================================
mpgDF=pd.read_csv(FILE, header=None)

In [5]:
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
# 컬럼지정하기 => columns 속성
mpgDF.columns=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,76.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,77.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,230.0,3436.0,11.0,70,1,plymouth satellite

In [8]:
# 수치데이터들의 집계함수 적용===================================================
# 모든 데이터 합계를 총 갯수로 나눈 값
mpgDF.mean(numeric_only=True)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [9]:
# 중앙값 => 작은값>>> 큰값 정렬 후 가운데 값
mpgDF.median(numeric_only=True)

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

In [10]:
# 최빈값 => 가장 많이 나온 값
mpgDF.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,13.0,4.0,97.0,150.0,1985.0,14.5,73.0,1.0,ford pinto
1,NaN,NaN,NaN,90.00,2130.0,NaN,NaN,NaN,NaN

In [15]:
# 최대값, 최소값
print(mpgDF.max(), mpgDF.min(), sep='\n\n')

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                     ?
weight                    5140.0
acceleration                24.8
model year                    82
origin                         3
car name        vw rabbit custom
dtype: object

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                        100.0
weight                           1613.0
acceleration                        8.0
model year                           70
origin                                1
car name        amc ambassador brougham
dtype: object

In [16]:
#표준편차
mpgDF.std(numeric_only=True)

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64

In [17]:
#상관계수 => 컬럼과 컬럼의 연관성을 수치화 (깊은관계)-1 ~ 0(관계없음) ~1(깊은관계)
mpgDF.corr()

C:\Users\y2kjd\AppData\Local\Temp\ipykernel_21808\3560346158.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  mpgDF.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [18]:
# auto-mpg 컬럼 중 서로 관련이 갚은 컬럼 순위 => 내림차순 정렬
oneCorr=mpgDF.corr().mpg

type(oneCorr), oneCorr.index

C:\Users\y2kjd\AppData\Local\Temp\ipykernel_21808\583020610.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  oneCorr=mpgDF.corr().mpg

(pandas.core.series.Series,
 Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration',
        'model year', 'origin'],
       dtype='object'))

In [19]:
# 절대값, 값기준 내림차순 정렬
oneCorr=abs(oneCorr)
oneCorr

mpg             1.000000
cylinders       0.775396
displacement    0.804203
weight          0.831741
acceleration    0.420289
model year      0.579267
origin          0.563450
Name: mpg, dtype: float64

In [20]:
#내림차순 값 기준 정렬
oneCorr.sort_values(ascending=False)

mpg             1.000000
weight          0.831741
displacement    0.804203
cylinders       0.775396
model year      0.579267
origin          0.563450
acceleration    0.420289
Name: mpg, dtype: float64

In [23]:
# DataFrame의 수치데이터에 대한 기술통계값
# 평균, 표준편차, 최소값, 최대값
mpgDF.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [24]:
# 평균, 표준편차, 최소값, 최대값
mpgDF.describe().iloc[[1,2,3,7]]

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [31]:
# 평균, 표준편차, 최소값, 최대값
fourDF=mpgDF.describe().loc[['mean', 'std', 'min','max']]
fourDF

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [32]:
# 행 => 컬럼, 컬럼 => 행 > 전치 : DF.transpose()메서드, DF.T속성
fourDF.transpose()

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [33]:
fourDF.T

                     mean         std     min     max
mpg             23.514573    7.815984     9.0    46.6
cylinders        5.454774    1.701004     3.0     8.0
displacement   193.425879  104.269838    68.0   455.0
weight        2970.424623  846.841774  1613.0  5140.0
acceleration    15.568090    2.757689     8.0    24.8
model year      76.010050    3.697627    70.0    82.0
origin           1.572864    0.802055     1.0     3.0

In [40]:
#==============================================================
# 비교연산자 =>   >, <, >=, <=, ==, !=
#                   결과 True, False 
#==============================================================
# 불린 인덱싱(boolean indexing): True, False로 구성된 인덱스
#                  True인 것만 출력됨


# mpg컬럼에서 데이터가 25보다 큰 데이터만 출력하세요
mpgDF.mpg > 25
mpgDF.mpg.mean()

23.514572864321607

In [39]:
# boolin 인덱싱
mpgDF.mpg[mpgDF.mpg > mpgDF.mpg.mean()]

14     24.0
18     27.0
19     26.0
20     25.0
21     24.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 189, dtype: float64

In [42]:
mpgDF[mpgDF.mpg > 30]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
53,31.0,4,71.0,65.00,1773.0,19.0,71,3,toyota corolla 1200
54,35.0,4,72.0,69.00,1613.0,18.0,71,3,datsun 1200
129,31.0,4,79.0,67.00,1950.0,19.0,74,3,datsun b210
131,32.0,4,71.0,65.00,1836.0,21.0,74,3,toyota corolla 1200
144,31.0,4,76.0,52.00,1649.0,16.5,74,3,toyota corona
...,...,...,...,...,...,...,...,...,...
390,32.0,4,144.0,96.00,2665.0,13.9,82,3,toyota celica gt
391,36.0,4,135.0,84.00,2370.0,13.0,82,1,dodge charger 2.2
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10