In [1]:
import pandas as pd 
import numpy as np 
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
lr = LinearRegression()

In [4]:
train_X = train[['exclusive_use_area','year_of_completion','transaction_year_month','floor']]
train_y = train['transaction_real_price']

In [5]:
test = test[['exclusive_use_area','year_of_completion','transaction_year_month','floor']]

In [6]:
lr.fit(train_X,train_y)

LinearRegression()

In [7]:
final = lr.predict(test)
final

array([17865.71253921, 43909.07988115, 43262.74187634, ...,
       67238.4592847 , 50991.51979276, 50775.6369032 ])

In [10]:
s = pd.read_csv('./data/submission.csv')
s['transaction_real_price'] = final
s.to_csv('submission_lr.csv', index=False)
s

      transaction_id  transaction_real_price
0            1145756            17865.712539
1            1198704            43909.079881
2            1222384            43262.741876
3            1179897            64814.429470
4            1223091            69945.650482
...              ...                     ...
5458         1174640            47903.068618
5459         1175575            46256.615953
5460         1157024            67238.459285
5461         1136863            50991.519793
5462         1218921            50775.636903

[5463 rows x 2 columns]